@model MiniGitHub.Domain.Entities.Repository
@using MiniGitHub.Domain.Entities

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Repository Detail</h2>

<ul>
    <li>repository id: @Model.RepositoryId</li>
    <li>name: @Model.Name</li>
    <li>description: @Model.Description</li>
</ul>

<h3>Commits</h3>

<a asp-action="Add" asp-controller="Commit" asp-route-repoId="@Model.RepositoryId">Create Commit</a>

<ul>
    @foreach (var commit in Model.Commits) {
        <li>
            <p><a asp-action="Detail" asp-controller="Commit" asp-route-id="@commit.CommitId">Commit</a> (commitId: @commit.CommitId)</p>
            <p>Message: @commit.Message</p>
            <ul>
                @foreach (var file in commit.Files) {
                    <li>
                        <p>Filename: @file.Path</p>
                        <p>Content: @file.Content</p>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
