@using MiniGitHub.Domain.Entities
@using MiniGitHub.Web.Extensions
@model MiniGitHub.Web.Models.IssueListViewModel

@{
    ViewBag.Title = $"Issues {Model.Repo.Owner.Username}/{Model.Repo.Name}";
    Layout = "_Layout";
    bool isOwner = User.TryGetUserId() == Model.Repo.OwnerId;
}

<h2>@ViewBag.Title</h2>

<div class="row mb-4">
  <form method="GET" role="search" class="@(isOwner ? "col-sm-10" : "col-sm-12")">
    <div class="row g-2">
      <div class="col-md-6">
        <div class="form-floating">
          <input name="q" value="@Model.Query" id="q" type="text" class="form-control" placeholder="Search">
          <label for="q">Find an issue...</label>
        </div>
      </div>

      <div class="col-sm-2">
        <button type="button" 
                data-bs-toggle="dropdown"
                class="dropdown-toggle form-control btn btn-outline-secondary text-start p-3">
          Status
        </button>
        <ul class="dropdown-menu">
          <li><span class="dropdown-item-text">Status</span></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item" type="submit" name="status" value="none">Open & Closed</button></li>
          <li><button class="dropdown-item" type="submit" name="status" value="open">Open</button></li>
          <li><button class="dropdown-item" type="submit" name="status" value="closed">Closed</button></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <button type="button" data-bs-toggle="dropdown"
                class="dropdown-toggle form-control btn btn-outline-secondary text-start p-3">
          Order by
        </button>
        <ul class="dropdown-menu">
          <li><span class="dropdown-item-text">Select order</span></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item" type="submit" name="order_by" value="last_active">Last active</button></li>
          <li>
            <button class="dropdown-item" type="submit" name="order_by" value="created_at">Created at</button>
          </li>
        </ul>
      </div>

      <div class="col-sm-2">
        <button type="button" data-bs-toggle="dropdown"
                class="dropdown-toggle form-control btn btn-outline-secondary text-start p-3">
          Sort
        </button>
        <ul class="dropdown-menu">
          <li><span class="dropdown-item-text">Select order</span></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item" type="submit" name="sort" value="asc">Ascending</button></li>
          <li>
            <button class="dropdown-item" type="submit" name="sort" value="desc">Descending</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
  
  @if (User.IsAuthenticated()) {
    <div class="col-sm-2 text-md-end">
      <a asp-controller="Issue" asp-action="Add" asp-route-repoId="@Model.Repo.RepositoryId" class="btn btn-success w-100 p-3">
        <i class="bi bi-plus-lg me-1"></i> Open issue
      </a>
    </div>
  }
</div>

<hr class="my-4">

<ul class="list-group list-group-flush">
  @if (!Model.Issues.Any()) {
    <p class="alert alert-info">No issues found.</p>
  }
  else {
    @foreach (Issue issue in Model.Issues) {
      <li class="list-group-item d-flex justify-content-between">
        <div>
          <h5>
            <span class="badge me-2 @(issue.Status == IssueStatus.Open ? "text-bg-warning" : "text-bg-success")">
              <i class="bi me-1 @(issue.Status == IssueStatus.Open ? "bi-circle" : "bi-check-circle")"></i>
              @(issue.Status == IssueStatus.Open ? "Open" : "Closed")
            </span>
            <a asp-controller="Issue" asp-action="Detail" asp-route-id="@issue.IssueId" class="text-decoration-none me-2">
              @issue.Title
            </a>
          </h5>
          <small>
            <a asp-controller="User" asp-action="Detail" asp-route-id="@issue.Creator.UserId" class="text-decoration-none">
              @issue.Creator.Username
            </a>
            
            @if (issue.Status == IssueStatus.Open) {
              <p>opened @issue.CreatedAt</p>
            }
            else {
              <p>closed @issue.ClosedAt</p>
            }
          </small>
        </div>
        <div>
          <i class="bi bi-chat-left-quote me-2"></i>
          @if (issue.Comments.Count == 1) {
            <span>1 comment</span>
          }
          else {
            <span>@issue.Comments.Count comments</span>
          }
        </div>
      </li>
    }
  }
</ul>


